.main-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.main-main {
  gap: 10px;
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  padding: 37px 229px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/tq_ltguirkxvr-rptb-1500w.png");
}
.main-main1 {
  gap: 25px;
  height: 460px;
  display: flex;
  padding: 17px 22px 7px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(48, 48, 48, 1);
}
.main-text {
  color: rgba(255, 255, 255, 1);
  width: 257px;
  height: auto;
  font-size: 59px;
  font-style: Black;
  text-align: center;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-text02 {
  color: rgba(212, 212, 212, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-links {
  gap: 19px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.main-link {
  display: contents;
}
.main-tiktok {
  gap: 8px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.main-tiktokicon21 {
  width: 21px;
  height: 22px;
}
.main-text04 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.main-link1 {
  display: contents;
}
.main-devicecollection {
  gap: 4px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(85, 0, 243, 1);
}
.main-smartphone {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-smartphone1 {
  top: 0.9999998211860657px;
  left: 5px;
  width: 14px;
  height: 22px;
  position: absolute;
}
.main-text06 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.main-link2 {
  display: contents;
}
.main-upcomingvideos {
  gap: 6px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(216, 75, 32, 1);
}
.main-videocam {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-videocam1 {
  top: 4px;
  left: 1.9999998807907104px;
  width: 20px;
  height: 16px;
  position: absolute;
}
.main-text08 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.main-link3 {
  display: contents;
}
.main-email {
  gap: 8px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(69, 160, 73, 1);
}
.main-mail {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-mail1 {
  top: 4px;
  left: 1.9999998807907104px;
  width: 20px;
  height: 16px;
  position: absolute;
}
.main-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.main-text12 {
  color: rgba(212, 212, 212, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-extras {
  gap: 18px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.main-link4 {
  display: contents;
}
.main-windowsactivation {
  gap: 4px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 120, 215, 1);
}
.main-tiktokicon211 {
  width: 21px;
  height: 20px;
}
.main-text14 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.main-link5 {
  display: contents;
}
.main-techtokwiki {
  gap: 4px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(33, 33, 32, 1);
}
.main-tiktokicon212 {
  width: 21px;
  height: 18px;
}
.main-text16 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.main-link6 {
  display: contents;
}
.main-sourcecode {
  gap: 6px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(102, 101, 101, 1);
}
.main-tiktokicon213 {
  width: 21px;
  height: 21px;
}
.main-text18 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.main-bottom {
  gap: 14px;
  width: 604px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.main-link7 {
  display: contents;
}
.main-bugreport {
  gap: 8px;
  height: 38px;
  display: flex;
  padding: 14px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(69, 160, 73, 1);
}
.main-bugreport1 {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-bugreport2 {
  top: 3.3999998569488525px;
  left: 4px;
  width: 16px;
  height: 18px;
  position: absolute;
}
.main-text20 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.main-text22 {
  color: rgba(212, 212, 212, 1);
  width: 597px;
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
